<div class="projectsBody">
  <div class="pList">
	  <div class="title"><h3>Full Project List</h3></div>
		<ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
			<ngb-panel *ngFor="let Project of projects">
				<ng-template ngbPanelTitle>
					<div class="selectableTab" (mouseenter)="selectProj(Project.id)">
					  <span class="name">{{Project.name}}</span>
					</div>
				</ng-template> 
				
				<ng-template ngbPanelContent>
					<button [routerLink]="['/detail', Project.id]" class="detail">
					  View Details
					</button>
				</ng-template>
			</ngb-panel>
		</ngb-accordion>
	</div>
	
	<div class="pictureReel">
		<h4> Project Images </h4>
		<img [@projSelected]="ImgState" class="Pic" [src]="Pather1" />
		<img [@projSelected]="ImgState" class="Pic" [src]="Pather2" />
		<img [@projSelected]="ImgState" class="Pic" [src]="Pather3" />
		<img [@projSelected]="ImgState" class="Pic" [src]="Pather4" />
	</div>
</div>