.projectsBody {
	height: 100%;
}

.title {
	text-align: center;
	color: #0000ff;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 5px;
	background: linear-gradient(177deg, #000000 55%, #8c40bf);
}

.title h3 {
	font: lighter 2.5em 'Play', sans-serif;
	margin: 0px;
}

h4 {
	color: #3051D3;
	text-align: center;
	font: lightest 2em 'Play', sans-serif;
}

.name a {
	text-decoration: none;
	color: #0000ff;
}

.name {
	font-family: 'Play', sans-serif;
}

.pList {
	display: inline-block;
	padding: 0px 0px 0px 5px;
	width: 60%;
}

.selectableTab {
	padding: .75rem 1.25rem; 
}

.detail {
	border-color: #1C082A;
	border-radius: 10px;
	background-color: #1C082A;
	color: #ffffff;
}

.detail:hover {
	background-color: #541A7E;
}

.pictureReel {
	border-radius: 10px;
	box-shadow: inset .01em .01em .01em .01em #000000;
	float: right;
	width: 39.95%;
	background: #393139;
	height: 90vh; 
}

.Pic {
	width: 45%;
	margin: 2%;
}

@media screen and (max-width: 600px){
	.pList {
		width: 100%;
		padding: 0px;
		margin-top: 15px;
	}
	
	.pictureReel {
		width: 100%;
	}
	
	.Pic {
		width: 45%;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px){
	.pList {
		width: 80%;
	}
	
	.pictureReel{
		width: 19.9%;
	}
	
	.Pic {
		width: 100%;
		height: 22%;
	}
}