/* Master Styles */
body {
	height: 100vh;
	background-color: #3F363F;
}

a, button{
  cursor: pointer;
  cursor: hand;
}

div[role=tab] {
	background-color: rgba(197, 117, 234, 0.5);
	background: radial-gradient(
		circle at 10% 50%,
		#000000 10%,
		#8c40bf 95%,
		#542673 5%
	);
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	cursor: pointer;
	padding: 0px;
}

.card {
	border-color: rgb(0, 0, 0) !important;
	border-radius: 5px 0px 0px 0px;
}

.card:hover {	
	transform: translate(2px);
}

div[role=tab]:hover {
	background-color: rgba(197, 117, 234, 0.6);
	background: radial-gradient(
		circle at 10% 50%,
		#000000 1%,
		#8c40bf 95%,
		#542673 5%
	);
}

div[role=tab].active {
	background-color: rgba(197, 117, 234, 0.7);
	background: radial-gradient(
		circle at 10% 50%,
		#000000 10%,
		#8c40bf 90%,
		#542673 10%
	);
}

div[role=tabpanel] {
	background-color: #542673;
}